<script language="JavaScript">
function openWin2() {
    win2 = window.open("../questionsample.html", "Window2","width=350,height=600,scrollbars=yes");
}
</script>

<h1>Ask A Question</h1>
<div id="beatcontainer">
  
  <div id="beatform">
    
    <% form_for @question, :url => { :action => "create" } do |f| -%>
    <%= f.error_messages %><br>
     <div class="group">
        <label for="login">Topic</label><br>
        <%= collection_select(:question, :topic_id, @topics, :id, :title, :class => 'longfield', :include_blank => 'Select a topic...') %><br>
      </div>
     <div class="group">
        <label for="login">Tags</label>

        <%# form.label(:tag_list, "Tag to categorize <strong>(separate by commas)</strong>") %><br/>
        <%= text_field_with_auto_complete :question, :tag_list,
        { :size => 40, :style => "width: 350px;"},
        { :url => tag_suggestions_questions_path(:format => :js),:param_name => 'tag', :method => :get, :tokens => ',' } %>

        <%# f.text_field :tag_list %><br>
        <span class="formhelp">Please use commas to seperate the tags</span><br>
      </div>
     <div class="group">
        <label for="login">Question </label> <br>

        <%= f.text_field :headline %><br>
        <span class="formhelp">Please no periods or dashes.</span><br>
      </div>
     <div class="group">
        <label for="login">Details</label><br>

        <%= f.text_area :body, :size=>'44x10'%><br>
        
      </div>
   
    <br>
     <%= f.hidden_field :question, :name=>'user_id', :value=>current_user.id  %>

  <%= f.submit "Ask Your Question", :style => 'text-align:center;' %>
    <%end%>
  </div>
  <div id="beatright">
    <h1>Top Questions</h1>
    <%Question.top_questions[0..2].each do |question|%>

    <div style="border-bottom:1px #e7e7e7 solid;padding:10px;"><%=link_to question.headline,question_path(question)%></div>
    <%end%>
    <br><br>
    <h1>New Sound Kits</h1>
    <%Post.find(:all, :limit=>3, :order=>'created_at desc').each do |post|%>
    <div style="border-bottom:1px #e7e7e7 solid;padding:10px;"><%=link_to post.title,post_path(post)%></div>

    <%end%>
  <div class="clear"></div>
  
</div>
